.modal-placar {
  background-color: #1a1a1a;
  color: #fff;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 580px;
  width: 500px;
  border: 2px solid #00ffaa;
  scale: 0.8;
}

.modal-placar-vencedora {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.modal-placar-trofeu {
  display: flex;
  background-image: url("/trophy-vencedora.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 170px;
  height: 170px;
  padding-bottom: 36px;
  align-items: center;
  justify-content: center;
}

.modal-placar-trofeu-vencedor-container {
  background-color: #222;
  border: 2px solid #00ffaa;
  border-radius: 7px;
  padding: 2px 6px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-placar-trofeu-nome {
  text-align: center;
  text-justify: auto;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

.modal-placar-ranking-titulo {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 12px;
  margin-top: 20px;
}

.modal-placar-ranking {
  border: 2px solid #00ffaa;
  border-radius: 12px;
  padding: 12px 24px;
  margin-bottom: 30px;
}

.modal-placar-ranking ol {
  list-style: decimal;
  margin: 0;
  padding-left: 20px;
}

.modal-placar-ranking li {
  font-size: 16px;
  margin: 4px 0;
  white-space: nowrap;
}
