.titulo {
    color: white;
    font-size: 40px;
}

.cadastro-startups {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    color: white;
    padding-top: 50px;
    gap: 50px
}