body {
  margin: 0;
  background-color: #0b0b0b;
  font-family: "Inter", "Calibri", sans-serif;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  background-color: #1a1a1a;
  margin: 25px;
  z-index: -1;
  inset: 0;
  border-radius: 30px;
}
